@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ibm-mono);
  --color-primary: #C6F135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-mono), system-ui, monospace;
}

h1, h2, h3 {
  font-family: var(--font-ibm-mono), serif;
}
