@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

@theme inline {
  /*Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #C6F135;

  /*Fonts*/
  --font-mono: var(--font-ibm-mono);
  --font-poppins: var(--font-poppins);
  --font-family-mono: var(--font-ibm-mono), monospace;
  --font-family-poppins: var(--font-poppins), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-mono), system-ui, monospace;
}

h3{
  font-size: 22px;
  font-weight: 700;
}
